*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page
{
    height: 100%;
    width: 100%;
    background-image: url(img-blog/papyrus.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav
{
    flex: 1;
    text-align: right;
}

nav ul
{
    display: inline-block;
    list-style: none;
}

nav ul li
{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

nav ul li button
{
    font-size: 20px;
    color: #000;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}

nav ul li button:hover
{
    color: #ff4b00;
}

nav ul li a:hover
{
    color: #ff4b00;
}
 a
 {
     text-decoration: none;
     color: #000;
     font-size: 28px;
 }

 #login-form
 {
     display: none;
 }

 .form-box
 {
     width: 380px;
     height: 480px;
     position: relative;
     margin: 2% auto;
     background: rgba(0,0,0,00.3);
     padding: 10px;
     overflow: hidden;
 }

 .button-box
 {
     width: 220px;
     margin: 35px auto;
     position: relative;
     box-shadow: 0 0 20px 9px #ff61241f;
     border-radius: 30px;
 }

 .toggle-btn
 {
     padding: 10px 30px;
     cursor: pointer;
     background: transparent;
     border: 0;
     outline: none;
     position: relative;
 }

 #btn
 {
     top: 0;
     left:0;
     position: absolute;
     width: 110px;
     height: 100%;
     background: #ff4b00;
     border-radius: 30px;
     transition: .5s;
 }

 .input-group-login
 {
     top: 150px;
     position: absolute;
     width: 280px;
     transition: .5s;
 }

 .input-group-register
 {
     top: 120px;
     position: absolute;
     width: 280px;
     transition: .5s;
 }
 .input-field
 {
     width: 100%;
     padding: 10px 0;
     margin: 5px 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 1px solid #ff4b00;
     outline: none;
     background: transparent;
 }

 .submit-btn
 {
     width: 85%;
     padding: 10px 30px;
     cursor: pointer;
     display: block;
     margin: auto;
     background: #ff4b00;
     border: 0;
     outline: none;
     border-radius: 30px;
     outline: none;
     border-radius: 30px;
     color: #fff;
 }

 .check-box
 {
     margin: 30px 10px 34px 0;
 }

 span 
 {
     color: #fff;
     font-size: 14px;
     bottom: 68px;
     position: absolute;
 }

 #login
 {
     left: 50px;
 }

 #login input
 {
     color: #fff;
     font-size: 15;
 }

 #register
 {
     left: 450px;
 }

 #register input
 {
     color: #fff;
     font-size: 15;
 }